/* Linea para la animación que usa animate.style como referencia  
la que empieza con .referencia es para una parametrizacion, 
la que empieza con .root es para todas las animaciones del diseño
*/

.tiempo {
    --animate-duration: 50s;
}


/* Parametros para los datos de la cabecera de la web */


.contenedorHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    background-image: url("../images/serfer1atardecer.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:auto;
    margin-top: 5px;
    height: 50vh auto;
    
  }

  @media (max-width: 768px) {
    .contenedorHeader {
      
      width: 100vw;
      height: 40vh;
      
   
  }
}
  
  .contieneCab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;

  }

  .columna {
    flex-basis: 50%; 
    box-sizing: border-box; 
}

  .logo {
    width: 100%;
    text-align: center
  }

  .logo img {
    max-width: 100%;
    height: auto;
}

.lasletras {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: left;
  color: rgb(255, 255, 255);
   
}

h1 {
  font-size: 2em;
  }

.marca {
  font-size: 2em;
}
.subtitulos{
  font-size: 1.5em;
}

  

  @media (max-width: 768px) {
    .columna {
        flex-basis: 100%; 
    }

    .logo img {
      max-width:60%;
    }
}
  
 /*
  .contenedor-menu {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    width: 100%;
    max-height: 100%;

    
  }
  */

.contenedor-menu {
  background-size: cover;
  min-height: 10vh;

}
  

/* ----------   color de fondo de la pagina ---------*/
.colorfondopag {
  background-color: #e19a24;
}



/* Estilos para el pie de pagina */

.columnasPie {
  text-align: center; 
}

.lista-horizontal {
  display: flex; 
  justify-content: center; 
  padding: 0;
}

.lista-horizontal li {
  margin-right: 20px; 
}

@media screen and (max-width: 768px) {
  .columnasPie {
    text-align: left; 
  }
}


/*------------- aca empieza el index ----------- */
.inicio{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h2 {
  font-size: 1em;
}


h2.tituloInicio {
  font-size: 2.5em;
}

.contenCentral{
  display: flex;
  flex-direction: row;
  max-width: 80%;
  
}

.textoPrincipal{
  background-color: #bc74007a;
  padding: 2em;
  font-size: 1.2em;
}

.imagenCentral{

  width: 20%;
  height: 100%;

}

.imagenCentral img{

  height: 100%;
}


@media (max-width: 768px) {
  .contenCentral {
    flex-direction: column;
  }

  .imagenCentral {
    width: 100%;
    height: auto;
    text-align: center;
  }
}

/* *********aca termina el index */


/* en parraT2 tengo el texto de las paginas en color fonde verde y el tamaño en 16px*/
.parraT3 {
  font-family: Tahoma;
  font-size: 20px;
  color: #0c0c0b;
}

/* en parraT2 tengo el texto de las paginas en color fonde verde y el tamaño en 16px*/
.parraT2 {
    font-family: Tahoma;
    font-size: 16px;
    color: #2c640c;
}

/* Utilizo grid para presentarlo en dos columnas y uso
media querry para que sea responsive*/

.grid-mapa {
    display: grid;
    grid-template-columns: 1fr 1fr; 
  }
  
 
  @media screen and (max-width: 768px) {
    .grid-mapa {
      grid-template-columns: 1fr; 
    }
}

/* en mapa tengo el parametro para el tamaño del iframe de google mostrando
la ubicación del bar*/

#mapa {
    width: 900px;
    max-width: 100%; 
    max-height: 500px; 
    border: 1; 
  
}

/* este grid responsive es similar al anterior con la diferencia
que se usa una imágen y el texto esta a la derecha*/

.grid-qr {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
  }
  
  
  @media screen and (max-width: 768px) {
    .grid-qr {
      grid-template-columns: auto 1fr; 
      
    }
}

#img-qr {
    max-width: 100%; 
    max-height: 500px; 
    max-width: 340px;
    height: auto;
    margin: 0 auto;
    border: none; 
}




/* todos los parrafos del site estan pensadas con fondo naranja palido, y parametricé
las letras de los parrafos simples con un color que contrasta*/

.parrafosimple{
    color:#477b29;
}



/* select, card e img utilizadas para parametrizar imagenes y textos de la pagina recetas */
.card{
    width: 300px;
    margin:10px 0;
}
.card-with-scroll {
    /* Esta clase hace que pueda agregarse una barra de desplazamiento lateral a cada "card" 
    ya que los textos son algo extensos y quedaba feo a la vista las diferencias de tamaño
    overflow agrega las barras, overflow-x en hidden oculta la inferior, que no la necesito
    max-height define la altura maxima de la tarjeta*/
    overflow: auto; 
    overflow-x: hidden; 
    max-height: 400px; 
}
.card-with-scroll::-webkit-scrollbar {
    /* esta propiedad define el ancho de la barra de desplazamiento de las tarjetas
    funciona perfectamente en el chrome, nofunciona en el firefox, Falta probar
    si pasa lo mismo en otros navegadores*/
    width: 7px; 
}
.card-with-scroll::-webkit-scrollbar-thumb {
    /* Esta propiedad define el color de la barra de desplazamiento de las tarjetas
    pasa lo mismo que en la clase anterior, funciona en chrome pero no en el firefox
    falta probar en otros navegadores */
    background-color: hsl(135, 50%, 52%);
}

img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.card-text {
    display: flex;
    align-items: center;
  }
  
  .card-text h4 {
    margin-right: 5px;
  }



