<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Mostrar Datos de JSON</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="./css/prueba.css">
</head>
<body>
    

        <div id="app">
            <h1>Tragos</h1>

        
            <div v-for="trago in tragos" class="card">
              <img :src="trago.foto" :alt="Fotito" :style="{maxWith: `15vw`}">
              <div class="card-body">
                    <h3 class="card-text">{{ trago.nombre }}</h3>
                    <div class="card-text">
                        <h4 class="card-text">Dificultad:</h4>
                        <p class="card-text">{{ trago.dificultad }}</p>
                    </div>
                    <div class="card-text">
                        <h4 class="card-text">Contiene alcohol?</h4>
                        <p class="card-text">{{ trago.alcohol }}</p>
                    </div>
                    <h4 class="card-text">Historia:</h4>
                    <p class="card-text">{{ trago.historia }}</p>
                    
                    <h4 class="card-text">Ingredientes:</h4>
                    <ul>
                        <li v-for="ingrediente in trago.ingredientes" :key="ingrediente.bebida">
                            {{ ingrediente.bebida }}  <strong>{{ ingrediente.cantidad }}</strong> 
                        </li>
                    </ul>
                    <h4 class="card-text">Como prepararlo:</h4>
                    <p class="card-text">{{ trago.preparacion }}</p>
                </div>
            </div>
      
        <script src="./js/prueba.js"></script>
      </body>
      </html>






</body>
</html>